#[[accessTransformers]]
#file="META-INF/accesstransformer.cfg"
# The coremods config file path is not configurable and is always loaded from META-INF/coremods.json

modLoader="javafml"
loaderVersion="${loader_ver_range}"
license="${license}"
issueTrackerURL="${issue_tracker}"

[[mods]]
modId="${id}"
version="${version}"
displayName="${name}"
logoFile="${icon}"
authors="${authors}"
description='''
${description}
'''

[[mixins]]
config="${id}.mixins.json"

[[dependencies.${id}]]
modId="neoforge"
type="required"
versionRange="${neo_ver_range}"
ordering="AFTER"
side="BOTH"

[[dependencies.${id}]]
modId="minecraft"
type="required"
versionRange="(${mc_min},${mc_max}]"
ordering="AFTER"
side="BOTH"

[[dependencies.${id}]]
modId="architectury"
#NEO COMPAT
${mandatory_indicator}=true
versionRange="[${arch_ver},)"
ordering="AFTER"
side="BOTH"

